<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <array>
            <dict>
                <key>LeftIcon</key>
                <string>fp_message</string>
                <key>LeftRemark</key>
                <string>任何消息都不错过</string>
                <key>LeftTitle</key>
                <string>我的消息</string>
                <key>RightIcon</key>
                <string>fp_attendance</string>
                <key>RightRemark</key>
                <string>上下班随手打卡</string>
                <key>RightTitle</key>
                <string>移动签到</string>
            </dict>
            <dict>
                <key>LeftIcon</key>
                <string>fp_daily</string>
                <key>LeftRemark</key>
                <string>记录每天工作点滴</string>
                <key>LeftTitle</key>
                <string>工作日程</string>
                <key>RightIcon</key>
                <string>fp_process</string>
                <key>RightRemark</key>
                <string>自定义各种流程</string>
                <key>RightTitle</key>
                <string>工作流程</string>
            </dict>
            <dict>
                <key>LeftIcon</key>
                <string>fp_post</string>
                <key>LeftRemark</key>
                <string>让全公司知道</string>
                <key>LeftTitle</key>
                <string>公司发文</string>
                <key>RightIcon</key>
                <string>fp_report</string>
                <key>RightRemark</key>
                <string>工作总结各种事</string>
                <key>RightTitle</key>
                <string>周报月报</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>LeftIcon</key>
                <string>fp_traffic</string>
                <key>LeftRemark</key>
                <string>优惠流量随手购</string>
                <key>LeftTitle</key>
                <string>优惠流量</string>
                <key>RightIcon</key>
                <string>fp_redpacket</string>
                <key>RightRemark</key>
                <string>流量红包人人有</string>
                <key>RightTitle</key>
                <string>流量红包</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>LeftIcon</key>
                <string>fp_clientele</string>
                <key>LeftRemark</key>
                <string>客户档案一个不少</string>
                <key>LeftTitle</key>
                <string>企业客户</string>
                <key>RightIcon</key>
                <string>fp_contacts</string>
                <key>RightRemark</key>
                <string>联系电话都在此</string>
                <key>RightTitle</key>
                <string>企业联系人</string>
            </dict>
            <dict>
                <key>LeftIcon</key>
                <string>fp_management</string>
                <key>LeftRemark</key>
                <string>成员同事都在这</string>
                <key>LeftTitle</key>
                <string>团队管理</string>
                <key>RightIcon</key>
                <string>fp_sales</string>
                <key>RightRemark</key>
                <string>每个机会都抓住</string>
                <key>RightTitle</key>
                <string>销售机会</string>
            </dict>
            <dict>
                <key>LeftIcon</key>
                <string>fp_analysis</string>
                <key>LeftRemark</key>
                <string>各种报表自动统计</string>
                <key>LeftTitle</key>
                <string>数据分析</string>
                <key>RightIcon</key>
                <string>fp_Commodityinformation</string>
                <key>RightRemark</key>
                <string>商品规格和库存</string>
                <key>RightTitle</key>
                <string>商品信息</string>
            </dict>
            <dict>
                <key>LeftIcon</key>
                <string>fp_examination</string>
                <key>LeftRemark</key>
                <string>销售申请和审批</string>
                <key>LeftTitle</key>
                <string>销售审批</string>
                <key>RightIcon</key>
                <string>fp_order</string>
                <key>RightRemark</key>
                <string>下单发货查物流</string>
                <key>RightTitle</key>
                <string>订单中心</string>
            </dict>
        </array>
    </array>
</plist>
